name: "Check for broken links"

on:
  schedule:
    - cron: '0 7 * * 6'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and verify
    container: ruby:3.3
    env:
      BUNDLE_FROZEN: true
    steps:
      - uses: actions/checkout@v3
      - run: bundle install --frozen
      - run: bundle exec ./validate.rb
