name: "Test & validate"

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test & lint
    container: rust:latest
    env:
      GOODREADS_API_KEY: ${{ secrets.GOODREADS_API_KEY }}
      GOODREADS_SECRET: ${{ secrets.GOODREADS_SECRET }}
      LASTFM_API_KEY: ${{ secrets.LASTFM_API_KEY }}
      LASTFM_SECRET: ${{ secrets.LASTFM_SECRET }}
    steps:
      - uses: actions/checkout@v3
      - run: rustup component add clippy
      - run: cargo clippy
      - run: cargo test

  validate:
    runs-on: ubuntu-latest
    name: Validate
    container: ruby:3.3
    env:
      BUNDLE_FROZEN: true
      BUNDLE_WITHOUT: development
    steps:
      - uses: actions/checkout@v3
      - run: bundle install --frozen
      - run: bundle exec rubocop
      - run: bundle exec ./validate.rb --disable-external

  build:
    runs-on: ubuntu-latest
    name: Build containers
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}:cache,mode=max
          target: builder
